[Desktop Entry]
Version=1.0
Type=Application
Name=Locatefish File Search
Comment=File search
Comment[de]=Dateisuche
Comment[es]=Buscador de archivos
Comment[fi]=Etsi tiedostoja
Comment[fr]=Recherche de fichiers
Comment[ru]=Поиск файлов
Categories=GTK;Utility;Filesystem;
Exec=locatefish
Icon=locatefish
Terminal=false
StartupNotify=true
