[Desktop Entry]
Version=1.0
Type=Application
Name=Locatefish
Comment=File search
Comment[de]=Dateisuche
Comment[es]=Buscador de archivos
Comment[fi]=Etsi tiedostoja
Comment[fr]=Recherche de fichiers
Comment[ru]=Поиск файлов
Categories=GTK;Utility;Filesystem;
Exec=locatefish
Icon=/usr/local/share/icons/hicolor/scalable/apps/locatefish.svg
Terminal=false
StartupNotify=true
